@use './mixins/mixins.scss' as *;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include b(icon) {
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  &.is-loading {
    animation: spin 1s infinite linear;
  }
}
