@use '../mixins/mixins.scss' as *;
@use '../mixins/function.scss' as *;

.#{$namespace}-fade-enter-from,
.#{$namespace}-fade-leave-to {
  opacity: 0;
}

.#{$namespace}-fade-enter-to,
.#{$namespace}-fade-leave-from {
  opacity: 1;
}

.#{$namespace}-fade-enter-active,
.#{$namespace}-leave-active {
  transition: opacity 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.collapse-transition {
  transition: height getCssVar('transition-duration') ease-in-out,
    padding-top getCssVar('transition-duration') ease-in-out,
    padding-bottom getCssVar('transition-duration') ease-in-out;
}

.#{$namespace}-collapse-transition-leave-active,
.#{$namespace}-collapse-transition-enter-active {
  // 为 padding 也设置过渡效果，防止只有高度存在过渡效果，padding 没有产生卡顿
  transition: height getCssVar('transition-duration') ease-in-out,
    max-height getCssVar('transition-duration') ease-in-out,
    padding-top getCssVar('transition-duration') ease-in-out,
    padding-bottom getCssVar('transition-duration') ease-in-out;
}
